.overBG{
	position:fixed;
	background-color:rgba(0,0,0,0.6);
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	z-index:99999;
	display:none
}
.spinner{
	 position: fixed;
      top: 50%;
      left: 50%;
      z-index:999999;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.panel-body{
	min-height:460px
}
.lnkSource{
	color:white !important
}
#imgResponse{
	cursor:pointer;
}

